/* hero */
.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.afterCircle::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background-color: #ffffff;
  top: 15%;
  left: 5%;
}
.afterCircle::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  background-color: #ffffff;
  bottom: 25%;
  right: 7%;
}
.afterCircle2::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background-color: #ffffff;
  top: 40%;
  left: 5%;
}
.afterCircle2::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  background-color: #ffffff;
  bottom: 35%;
  right: 7%;
}
.afterCircle3::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background-color: #ffffff;
  bottom: 25%;
  left: 5%;
}
.afterCircle3::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  background-color: #ffffff;
  top: 25%;
  right: 7%;
}

.tabletBg {
  background: white;
}
.heroImg {
  position: relative;
  max-width: 100%;
  z-index: 10;
}
.mbCust {
  padding-bottom: 5rem;
}
.percentIcon {
  font-size: 40px;
}
.heroImg::after {
  content: "";
  display: block;
  position: absolute;
  background-color: white;
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  bottom: 19rem;
  left: 33rem;
  z-index: -1;
}
.tabletAfter::after {
  display: none;
}
.macAfter::after {
  bottom: 21rem;
  left: 32rem;
}
.heroPercent {
  font-weight: 600;
  font-size: 50px;
  color: #ffffff;
}
.heroDisc {
  font-weight: 400;
  font-size: 40px;
  color: #313131;
  margin: 0 0 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fs-18 {
  font-size: 18px;
}
.secondLine {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.secondLine p:first-child {
  color: #313131;
  font-size: 46px;
}
.secondLine p:nth-child(2) {
  font-weight: bold;
  font-size: 60px;
}
.orderBtn {
  margin-top: 2rem;
  background: #ffffff;
  border-radius: 8px;
  border: none;
  height: 3.5rem;
  width: 14rem;
}
.oderFont {
  font-size: 25px;
  color: #000056;
}
.tablet {
  color: #000056;
}
.tabletBtn {
  background: #313131;
  color: white !important;
}
.tabletBtn span {
  background: #313131;
  color: white !important;
}
.macImg img {
  width: 105% !important;
}
/* media query */
@media (max-width: 768px) {
  .order2Mob {
    order: 2;
    text-align: center;
    margin-left: 0 !important;
  }
  .mt1Mob {
    margin-top: 1rem;
  }
  .fs-40Mob {
    font-size: 40px !important;
  }
  .justMob {
    justify-content: center;
  }
  .p30Mob {
    padding-left: 30px;
    padding-right: 30px;
  }
  .afterCircle::after,
  .afterCircle::before,
  .afterCircle1::after,
  .afterCircle1::before,
  .afterCircle2::after,
  .afterCircle2::before,
  .afterCircle3::after,
  .afterCircle3::before {
    display: none;
  }
  .owl-dots {
    bottom: 0;
    left: 46%;
  }
  .imgBefore:after{
    right: 14px;
  }
  .aboutRight ul li{
    padding-left: 0.6rem;
    text-align: left;
  }
}
