.expertCard {
  text-align: center;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid rgb(185, 185, 185, 0.2);
  background: #ffffff;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.08);
  height: 275px;
  position: relative;
  z-index: 1;
}
.expertCard:hover {
  box-shadow: 0px 1px 22px #b9b9b9;
}
.expertImg {
  display: flex;
  justify-content: center;
  position: absolute;
}
.expertImg img {
  z-index: 2;
  top: 0;
}
.expertName p {
  color: #282a2e;
  letter-spacing: -0.3px;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  margin: 15px 0;
}
.jobTitle p {
  letter-spacing: -0.3px;
  color: #727375;
  font-weight: 400;
  font-size: 14px;
}
.projectsDone {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}
.projectsDone p {
  margin-bottom: 0;
  margin-left: 8px;
}
.expertPrice {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.expertIcons img {
  padding: 1rem;
  background-color: #03be6c;
  border-radius: 50%;
}
.expertFlex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.expertFlex img {
  margin-bottom: 1rem;
}
.expertFlex p {
  margin: 0;
  font-family: "Poppins";
}
.expertFlex p:nth-child(2) {
  font-size: 16px;
  color: #5a5a5a;
  line-height: 26px;
  font-weight: 500;
}
.expertFlex p:nth-child(3) {
  color: #828282;
  font-weight: 400;
  font-size: 10px;
  line-height: 26px;
}

.blueColor {
  color: #000056;
  font-weight: 600;
  font-size: 18px;
}

/* media query */
@media (max-width: 768px) {
  .expertCard {
    justify-content: center;
  }
}
