@font-face {
  font-family: poppins;
  src: url(../src/assests/fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: poppinsBold;
  src: url(../src/assests/fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: workSans;
  src: url(../src/assests/fonts/WorkSans-Regular.ttf);
}
@font-face {
  font-family: workSansBold;
  src: url(../src/assests/fonts/WorkSans-Bold.ttf);
}

* {
  font-family: poppins;
}
h2,
h3,
h4 {
  font-family: poppinsBold;
}
.link {
  color: inherit;
  text-decoration: none;
}
.slick-slide {
  outline: none !important;
}
